{
  "extends": "standard",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "parserOptions": {
    "space-before-function-paren": ["error", "always"],
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
